<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>

    </div>

    <div class="ui-g-12 ui-fluid">
      <label >Descrição</label>
      <input pInputText type="text">
    </div>

    <div class="ui-g-12">
      <label style="display:block" >Vencimento</label>
      <input pInputText type="text" style="width: 95px">

      <label >Até</label>
      <input pInputText type="text">

    </div>

    <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar" ></button>
    </div>
  </div>
          <!--
          <ul *ngFor="let item of lancamentos">
            <li >{{item.pessoa}}</li>

          </ul>
          -->

  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="lancamentos" [paginator]="true" [rows]="5" [responsive]=true>
        <p-column field="pessoa" header="Pessoa"></p-column>
        <p-column field="descricao" header="Descrição"></p-column>
        <p-column field="dataVencimento" header="Data Vencimento" styleClass="col-data">
          <ng-template let-dataV="rowData"  pTemplate="body">
            <span>{{dataV.dataVencimento | date: 'dd/MM/y'}}</span>
          </ng-template>
        </p-column>
        <p-column field="dataPagamento" header="Data Pagamento" styleClass="col-data">
          <ng-template let-dataP="rowData" pTemplate="body">
            <span>{{dataP.dataPagamento | date:'dd/MM/y'}}</span>
          </ng-template>
        </p-column>
        <p-column field="valor" header="Valor" styleClass = "col-valor">
          <ng-template let-lanc="rowData" pTemplate="body" >
             <span [ngStyle]="{color: lanc.tipo==='DESPESA' ? 'red' :'blue'}" >{{lanc.valor |currency:'BRL':true:'1.2-2'}}</span>
          </ng-template>
        </p-column>

        <p-column styleClass="col-acoes">
          <ng-template pTemplate="body" >
              <button pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top"></button>
              <button pButton icon="fa fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
          </ng-template>
        </p-column>

      </p-dataTable>
    </div>

    <div class="ui-g-12">
      <a pButton type="submit" label="Novo Lançamentos" ></a>
    </div>
  </div>


</div>
