<div class="container">
  <form #form="ngForm" autocomplete="off" (ngSubmit)="salvar(form)">
      <div class="ui-g">
        <div class="ui-g-12">
          <h1>{{ editando ? 'Edição de ' : 'Novo'}}lançamento</h1>

          <div class="ui-g-12">
            <p-selectButton name="tipo"
                            [options]="tipos"
                            #tipo
                            [(ngModel)]="lancamento.tipo"
                            >
            </p-selectButton>
          </div>

          <div class=" ui-g-6 ui-md-3 ui-fluid">
            <label >Vencimento</label>
            <p-calendar name="vencimento"
                        dateFormat="dd/mm/yy"
                        [readonlyInput]="false"
                        [showIcon]="true"
                        [(ngModel)]="lancamento.dataVencimento">
            </p-calendar>
          </div>

          <div class="ui-g-6 ui-md-3 ui-fluid">
            <label >{{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
            <p-calendar name="pagamento"
                        dateFormat="dd/mm/yy"
                        [readonlyInput]="false"
                        [inline]="false"
                        [(ngModel)]="lancamento.dataPagamento">
            </p-calendar>
          </div>

          <div class="ui-g-12 ui-md-9 ui-fluid" >
            <label>Descrição</label>
            <input pInputText
                   type="text"
                   name="descricao"
                   ngModel
                   #descricao="ngModel"
                   required minlength="5"
                   [(ngModel)]="lancamento.descricao">

            <app-message [control]="descricao" error="required" text=" Informe uma Descrição" ></app-message>


            <div *ngIf="descricao.hasError('minlength') && descricao.dirty" class="ui-message ui-messages-error">
                Minimo de {{descricao.errors.minlength.requiredLength}} caracteres
            </div>
          </div>
          <div class="ui-g-12 ui-md-3 ui-fluid">
            <label >Valor</label>
            <input pInputText
                   type="text"
                   placeholder="0,00"
                   currencyMask [options] ="{prefix:'',thousands:'.',decimal:',',allowNegative:false}"
                   name="valor"
                   [(ngModel)]="lancamento.valor"
                  >
          </div>



           <div class="ui-g-12 ui-md-6 ui-fluid">
              <label >Categoria</label>
              <p-dropdown name="categoria"
                          [options]="categorias"
                          [autoWidth]="false"
                          placeholder="Select"
                          [filter]="true"
                          [(ngModel)]="lancamento.categoria.id">
              </p-dropdown>
            </div>

              <div class="ui-g-12 ui-md-6 ui-fluid">
              <label>Pessoa</label>
              <p-dropdown name="pessoa" [options]="pessoas" placeholder="Select"
                [autoWidth]="false" [filter]="true"
                [(ngModel)]="lancamento.pessoa.id"
                required></p-dropdown>
            </div>

            <div class="ui-g-12  ui-fluid">
              <label >Observação</label>
              <textarea name="observacao"
                        pInputTextarea
                        rows="3"
                        [(ngModel)]="lancamento.observacao"
                        >
              </textarea>
          </div>

          <div class="ui-g-12">
              <button pButton type="submit" label="salvar" ></button>
              <button pButton type="button" label="novo" class="ui-button-info" ></button>
              <a routerLink="/lancamentos">Voltar para a Pesquisa</a>
          </div>

        </div>
      </div>

  </form>

</div>
