<p-dataTable [value]="pessoas" [paginator]="true" [rows]="5">
    <p-column field="nome" header="NOME"></p-column>
    <p-column field="cidade" header="CIDADE"></p-column>
    <p-column field="estado" header="UF" styleClass="col-acoes"></p-column>
    <p-column field="status" header="STATUS" styleClass="col-acoes" >
      <ng-template let-info="rowData" pTemplate="body">
        <span [ngStyle]="{color:info.status ==='Ativo' ? 'blue' :'red' }" pTooltip="Desativar" tooltipPosition="top"><a href="#">{{info.status}}</a></span>
      </ng-template>
    </p-column>
    <p-column styleClass="col-acoes">
      <ng-template pTemplate="body">
        <button pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top"></button>
        <button pButton icon="fa fa-trash"  pTooltip="Excluir" tooltipPosition="top"></button>
      </ng-template>


    </p-column>
  </p-dataTable>
